.title {
    margin-top: 35px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #0D0D0D;
    margin-bottom: 0;
    &_left {
        text-align: left;      
        color: #FFFFFF;
        font-size: 36px;
        line-height: 54px;
    }
    &_thinner {
        font-weight: 500;
        margin: 0;
    }
    &__up {
        margin: 0;
    }
}